
/*Changer l'image de l'arriere plan*/
#video{
    display: flex;
    align-items: center;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a1ce7fa6-8ff0-4653-b2ac-2e616c494874/dfkge9v-09bac63d-eeee-4220-b362-210789f86f5e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ExY2U3ZmE2LThmZjAtNDY1My1iMmFjLTJlNjE2YzQ5NDg3NFwvZGZrZ2U5di0wOWJhYzYzZC1lZWVlLTQyMjAtYjM2Mi0yMTA3ODlmODZmNWUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0._c1CHH2WsWLpX6mn-eVniZjdyJZpNPNHCnOe_EjrTvQ');
    background-size: cover;
    color: rgba(245, 245, 245, 0.521);
}

/*mettre de l'espace entre tout, mettre de l'espace*/
.youtube{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex: 0 1 58%;
    flex-wrap: wrap;
    margin: 160px;    
    position: absolute;
}

/*Mettre de l'espace entre les video et le mettre au centre*/
.video1, .video2, .video3, .video4{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex: 0 1 26%;
    flex-wrap: wrap;

}
